<div class="container" fxLayout="wrap row" fxLayout.xs="column"  fxLayoutGap="1%" fxLayoutAlign="center">
  <!-- repeat the next div to get the same result as my printscreen -->
  <div fxFlex="20%" *ngFor="let feed of feeds">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{feed.make}} {{feed.productCode}} {{feed.productLine}} {{feed.productName}}</mat-card-title>
        <mat-card-subtitle>{{feed.productLine}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{feed.imageUrl}}" alt="{{feed.make}} {{feed.productCode}} {{feed.productLine}} {{feed.productName}}">
      <mat-card-content>
        <p style="white-space: pre-wrap">
          {{feed.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>